html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
g#mapDiv_graphics_layer path {
    fill-opacity: 0;
}
#elevInfo{
  padding:5px 5px 5px 10px;
  font-size: .8em;
}
#toggle{
  position: absolute;
  top: 20px;
  right: 20px;
}
#toggle.bottom{
  bottom:20px;
  left:20px;
  top:auto;
  right:auto;
}

.BasemapToggle .toggleButton {
    background: rgba(255,255,255,0.7);
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    border:none;
    border-radius:0 !important;
    padding:0;
}
.BasemapToggle .basemapImageContainer {
    position: relative;
}
.BasemapToggle .basemapImage {
    width: 65px;
    height: 65px;
    overflow: hidden;
}
.BasemapToggle .basemapImage .basemapBG {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 !important;
    padding:0;
}
.BasemapToggle .basemapTitle {
    display: block;
    width: 100%;
    color: #4c4c4c;
    margin: 0;
    font-size: 10px;
    line-height: 1.2;
    padding: 4px;
    background: #fff;
    background: rgba(255,255,255,0.7);
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
.BasemapToggle .basemapTitle {
    font-family: "Times New Roman", Georgia, "Book Antiqua", serif;
}
.loading-indicator {
  /* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}
.app-loading .loading-indicator,
.app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block;
}
.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
}
.app-error .loading-message {
  /* Error status */
  background-position: top center;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}
/* Color Themes */
.fg{
}
.bg{
  /*
  opacity: 1;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(15, 15, 15, 0.75);
  -moz-box-shadow:    2px 2px 2px 0px rgba(15, 15, 15, 0.75);
  box-shadow:         2px 2px 2px 0px rgba(15, 15, 15, 0.75);*/
}
/*Icon Fonts*/
@font-face {
  font-family: 'elevfonts';
  src:url('../fonts/tool-icons.eot?o2bzxw');
  src:url('../fonts/tool-icons.eot?o2bzxw#iefix') format('embedded-opentype'),
    url('../fonts/tool-icons.ttf?o2bzxw') format('truetype'),
    url('../fonts/tool-icons.woff?o2bzxw') format('woff'),
    url('../fonts/tool-icons.svg?o2bzxw#tool-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'elevfonts';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e600";
}
.icon-draw:before {
  content: "\e61b";
}
.icon-map-pin:before {
  content: "\e61d";
}
.icon-basemap:before {
  content: "\e634";
}
.icon-legend:before {
  content: "\e642";
}
.icon-layers:before {
  content: "\e659";
}
.icon-profile:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e802";
}
.icon-facebook-squared:before {
  content: "\e803";
}
.icon-gplus:before {
  content: "\e804";
}
.icon-mail-alt:before {
  content: "\e805";
}
.icon-link:before {
  content: "\e806";
}
.icon-share2:before {
  content: "\e65c";
}
.icon-share:before {
  content: "\e601";
}
/* Elevation Profile Panel Styles for the panel that contains the
elevation profile widget */
.panel{
  width:100%;
  position: absolute;
  display: block;
  height: auto;
  z-index: 30;
}
@media screen and (min-width: 620px) {
  .panel{
    width:80%;
  }
}
.top-center{
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left:20px; /*prevent zoom conflicts*/
  -moz-transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%);
  -o-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  transform: translate(-50%, 0%);
}
.bottom-center {
  position: absolute;
  left: 50%;
  bottom: 50px;
  -moz-transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%);
  -o-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  transform: translate(-50%, 0%);
}
#panelContent{
  height:0;
  opacity: 0;
  visibility: hidden;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
}
#panelTitle{
  display: table;
  width:100%;
  height:30px;
  line-height: 30px;
  padding-bottom: 5px;
}
#elevProfileChart{
  height:100%;
  width:98%;
}
.esriElevationProfile .esriElevationProfileInfoNode{
    display:none;
}
.esriElevationProfile .esriElevationProfileSourceLabel{
  display: none;
}
.esriElevationProfile .esriElevationProfileDirectionButton{
    margin:0 !important;
    position: absolute !important;
    bottom:-2px !important;
    right: 5px;
    width:35px !important;
}
.esriElevationProfile .esriElevationProfileDirectionButton:before{
  content:"\e900";
  font-family: "elevfonts"
}
.esriElevationProfile .esriElevationProfileDirectionForward,.esriElevationProfile .esriElevationProfileDirectionForward:hover, .esriElevationProfile .esriElevationProfileDirectionReverse,  .esriElevationProfile .esriElevationProfileDirectionReverse:hover{
  background:none !important;
}
.esriElevationProfile .esriElevationProfileDirectionButton:hover {
    color: rgba(59,60,64,0.4) !important;
    font-weight: bold !important;
}
/*standby widget updates*/
#dojox_widget_Standby_0 > div:nth-child(1){
  background-color:rgba(0,0,0,0) !important;
}
#desc{
  display:none;
  width:98%;
  padding:5px 10px 5px 10px;/*t,r,b,l*/
  font-size: 12pt;
  overflow: hidden;
}
#elevTitle{
  font-weight: bold;
  padding:5px 5px 0px 10px;
  font-size: 14pt;
  display: table-cell;
}

/*Elevation Profile toolbar styles (draw, toggle-profile)*/
#elevTools{
  margin-left:auto;
  margin-right: auto;
  display: table-cell;
  width:80px;
  text-align: center;
  white-space: normal;
}
.tools{
  height:32px;
  width:32px;
  font-size: 16px;
  line-height: 16px;
  background: transparent;
  border: none !important;
  cursor:pointer;
}
.active{
  background-color: rgba(59,60,64,0.4);
  border-radius: 4px;
}
.activeTool{
  background-color: rgba(59,60,64,0.9) !important;
}
/*Styles for the modal dialog (splash screen)*/
#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -20%;
  opacity: 1;
  visibility: visible;
  width: 40%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}
#modalContent{
  max-height: 300px;
  overflow: auto;
  padding-bottom:1em;
}
#modal.hide{
  top: -50%;
  visibility: hidden;
  opacity: 0;
}
#modal .modal-header{
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
#modal h2 {
  margin: 0;
  padding-right:32px;
}
#modal .copy, #modal .modal-header {
  padding: 10px;
}
.modal-content {
  position: relative;
  z-index: 20;
  background-color: #fff;
}
#modal .overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#closeOverlay{
  line-height: normal;
  padding: .5em 1em;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  border:solid 1px #ccc;
  cursor:pointer;
  height:auto;
  width: auto;
  position: relative;
  margin:0 auto;
}
/*Styles for the (share, legend, basemaps, search)
that appear below the zoom slider */
.tool-btn{
  text-align: center;
  margin:0;
  background: transparent;
  border: none !important;
  cursor:pointer;
  border-radius:4px;
}
.map-tools{
  position: absolute;
  top:134px;
  left:20px;
  width:30px;
  height:120px;
  text-align: center;
}
/*Esri zoom slider */
.slider-false .map-tools{
 top:65px;
}
.slider-false.nosearch .map-tools{
  top:20px;
}
.nosearch .map-tools{
  top:90px;
}
.map-btn{
  border: 1px solid #999;
  margin-bottom:5px;
  display: none;
  background: transparent;
  cursor:pointer;
  line-height: 26px;
  font-size: 20px;
}
.hide{
  display:none;
}
.container_hide{
  display: none;
}
.arrow_box {
  position: relative;
  background: #222e36;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-right-color:inherit;
  border-width: 12px;
  margin-top: -12px;
}
.arrow_box:before {
  border-width: 12px;
  margin-top: -12px;
}

.arrow_content{
  overflow: hidden;
  display: inline-block;
}
.closeBtn{
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top:4px;
  right:5px;
  cursor:pointer;
  padding:4px;
  z-index: 30;
}
.closeBtn:hover{
  color: #ccc;
}
.dialog-header{
  width:100%;
  margin-bottom:4px;
}

#legendContainer, #basemapContainer, #shareContainer{
  border-radius: 2px;
  visibility: hidden;
  display:none;
  z-index: 30;
}
.esriBasemapGallery{
  padding:10px;
}
#legendDiv, #basemapDiv, #shareDiv{
  overflow: auto;
  height: auto;
  width:240px;
  max-height: 300px;
  padding:1em;
}
.esriLayerList .esriTabMenu .esriTabMenuSelected{
  color:#666;
}
.esriLayerList .esriTitleContainer{
  border-top:none;
}
.esriLayerList .esriContainer{
  background-color: inherit !important;
  color: inherit !important;
  border-top:none;
  border-bottom:none;

}
.noscroll{
  overflow: hidden;
}
/*Flat Dojo Basemap Gallery and Legend CSS*/
.esriBasemapGallery {
  background: transparent;
}
.esriBasemapGalleryNode {
  float: left;
  margin: 4px;
  width: auto;
}
.esriBasemapGalleryNode a {
  background: #fff;
  border: 1px solid #d0d0d0;
  display: inline-block;
  padding: 2px;
  text-decoration: none;
  position: relative;
  transition: background 0.2s ease;
/* Hover */
/* Active */
}
.esriBasemapGalleryNode a img {
  vertical-align: middle;
}
.esriBasemapGalleryNode a:hover {
  background: #f2f2f2;
}
.esriBasemapGalleryNode a:active {
  background: #e6e6e6;
}
.esriBasemapGalleryLabelContainer {
  font-size:10px;
  background: transparent;
  text-align: center;
  width: 100%;
  overflow: hidden;
  display: block;
}
.esriBasemapGalleryThumbnail {
  height: 67px;
  width: 100px;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
/* Selected */
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
  border: 2px solid #007ac2;
  margin: 0;
}
.esriBasemapGallerySelectedNode a:after {
  font-family: 'elevfonts';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  height: 20px;
  width: 30px;
  background: #007ac2;
  content: "\e605";
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  right: 2px;
  bottom: 2px;
}


#search{
  position: absolute;
  top:90px;
  left:20px;
  z-index: 10;
}
.slider-false #search{
  top:20px;
}
.arcgisSearch .searchGroup .searchInput {
  width: 200px;
  padding: 6px 17px 6px 18px;
  zoom: 1;
 }
 .arcgisSearch .searchIcon{
  color:inherit;
 }
 .arcgisSearch .searchCollapsed .searchSubmit{
  background-color:inherit;
  color:inherit;
  border-radius: 0;
 }
 .arcgisSearch .searchBtn{
  padding:6px 5px;
 }
.arcgisSearch .searchExpandContainer .searchBtn{
  padding:6px 12px;
}
.esriSimpleSlider{
  border:none;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 1px solid #999;
}
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton, .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-radius: 1px;
}
.esriSimpleSlider div{
  font-size:22px;
  font-family: 'lato', sans-serif;
  line-height: 22px;
}
.esriSimpleSlider, .arcgisSearch .searchBtn {
  font-size: 22px;
  font-family: 'lato', sans-serif;
  line-height: 22px;
  border: 1px solid #999;
  border-radius: 1px;
}
/*Share Dialog*/
.icon-container {
  margin: 10px 0 10px;
  display: none;
}
@media screen and (min-width: 620px) {
  .icon-container {
    display: block;
  }
}
.map-size-label {
  float: left;
  font-size: 15px;
  margin: 0 5px 0 0;
}
.esriRTL .map-size-label {
  float: right;
  margin: 0 0 0 5px;
}
.share-dialog-icon {
  font-size: 30px;
  line-height: 30px;
  float: left;
  color: #fff;
  cursor: pointer;
  margin: 0 10px 0 0;
  text-decoration: none;
  display: block;
}
.esriRTL .share-dialog-icon {
  float: right;
  margin: 0 0 0 10px;
}
.share-dialog-icon:hover {
  color: rgba(0,0,0,0.8);
}
.share-map-url {
  width: 50%;
  min-width: 80%;
  max-width: 90%;
  height: 25px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
}
.map-size-container {
  margin: 0;
  padding: 0 0 20px;
}
.embed-map-size-clear,
.icon-clear {
  clear: both;
}
.embed-map-size-dropdown {
  float: left;
}
.esriRTL .embed-map-size-dropdown {
  float: right;
}
.share-dialog-subheader {
  font-size: 17px;
  display: none;
}
@media screen and (min-width: 620px) {
  .share-dialog-subheader {
    display: block;
  }
}
.share-dialog-textarea {
  width: auto;
  max-width: 90%;
  width: 80%;
  height: 50px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
}
.share-dialog-checkbox {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}
input[type=checkbox].share-dialog-checkbox {
  display: none;
}
.share-dialog-checkbox:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: #d3d3d3;
  color: #f3f3f3;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type=checkbox]:checked.share-dialog-checkbox + .share-dialog-checkbox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 15px;
}
